*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    background: $c-dark;
    color: $c-default;
}

.MyContainer {
    max-width: 900px;
    width: 95%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}
