$c-primary: #2cd1b0; 
// $c-primary: rgba(44, 209, 176, 0.5); 
$c-primary-alt: #16A085;
$c-secondary: #834efd; 
// $c-secondary: rgba(130, 78, 253, 0.5); 
$c-secondary-alt: #6433d4;
$c-accent: #ffa500;
$c-accent-alt: #e07800;
$c-negative: #fa4011;
$c-dark: #1d1d1d;
$c-dark-alt: #080808;
$c-default: #e4e4e4;
