$c-primary: #2cd1b0; 
$c-primary-alt: #16A085;
$c-secondary: #834efd; 
$c-secondary-alt: #6433d4;
$c-accent: #ffa500;
$c-accent-alt: #e07800;
$c-info: #52C5F2;
$c-negative: #fa2c11;
$c-dark: #101010;
$c-dark-alt: #080808;
$c-default: #dfdfdf;

//Gradient Border
.headerBar {
    border-bottom: 3px solid;
    border-image-source: linear-gradient(45deg, $c-secondary, $c-primary);
    border-image-slice: 1;
}
.footer-bar {
    border-top: 3px solid;
    border-image-source: linear-gradient(45deg, $c-primary, $c-secondary);
    border-image-slice: 1;
}
.link-bar {
    border: 2px solid;
    border-image-source: linear-gradient(45deg, $c-primary, $c-secondary);
    border-image-slice: 1;
}
.title-bar {
    background: -webkit-linear-gradient(right,$c-secondary, $c-primary );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
