.nav {
    .active--exact {
        transition: all .4s ease;
        @extend .link-bar;
        padding: 2px 15px;
    }
}
.el-menu-item {
    width: 100%;
    .active--exact {
        @extend .headerBar;
        color: $c-secondary;
    }
}
.absolute-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
//Buton menu
.btn-menu {
    border: none;
    cursor: pointer;
    outline: none;
    background: rgba(0, 0, 0, 0);
    .icon {
        font-size: 1.8rem;
        color: $c-primary;
        transition: all .4s ease;
        &:hover {
            color: $c-secondary;
        }
    }
}
//Helpers Comunes
.view-mobile {
    @media screen and(min-width: 600px){
        display: none !important;
    }
}
.view-desktop {
    @media screen and(max-width: 599px){
        display: none !important;
    }
}
//Media Queries
$mobile: 600px;
$table: 768px;
$desktop: 1224px;
@mixin respond-to($media) {
    @if $media == small {
        @media only screen and (min-width: $mobile) { @content; }
    }
    @if $media == mid {
        @media only screen and (min-width: $table) { @content; }
    }
    @else if $media == big {
        @media only screen and (min-width: $desktop) { @content; }
    }
}
