.nav {
    .active--exact {
        transition: all .4s ease;
        @extend .link-bar;
        padding: 0 .7rem;
        @media screen and(min-width: 700px){
            padding: 0 1rem;
        }
    }
}
.el-menu-item {
    width: 100%;
    .active--exact {
        @extend .headerBar;
        color: $c-secondary;
    }
}
.absolute-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
//Dropdown
.dropdown {
    margin-left: 1.2rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: $c-primary;
    outline: none;
    cursor: pointer;
    &:hover {
        color: $c-primary-alt;
    }
    .el-dropdown-link {
        font-family: $font-code;
    }
}
.item-dropdown {
    background: $c-dark;
    border-color: $c-primary;
    &-tag {
        color: $c-secondary;
        &:hover {
            background: $c-dark-alt !important;
            color: $c-primary !important;
        }
    }
}
//Buton menu
.btn-menu {
    border: none;
    cursor: pointer;
    outline: none;
    background: rgba(0, 0, 0, 0);
    .icon {
        font-size: 1.8rem;
        color: $c-primary;
        transition: all .4s ease;
        &:hover {
            color: $c-secondary;
        }
    }
    i {
        color: $c-primary;
        font-size: 1.5rem;
    }
}
.buttons-link {
    font-size: 1.5rem;
    font-weight: bold;
    width: 70%;
    padding: 0.3rem .6rem;
    text-transform: uppercase;
    text-align: center;
    transition: all .4s ease;
    @include respond-to(small) {
        width: 30%;
    }
}
//Helpers Comunes
.view-mobile {
    @media screen and(min-width: 600px){
        display: none !important;
    }
}
.view-desktop {
    @media screen and(max-width: 599px){
        display: none !important;
    }
}
.header-content {
    padding-top: 3.5rem;
    @include  respond-to(small) {
      padding-top: 5rem;
    }
}
//Responsive {
.flex {
    display: flex;
}
//Transition
.fade-enter-active {
transition: all .6s;
}

.fade-enter {
opacity: 0;
}

